<main class="main">
  <div class="inner">
    <div class="card__wrapper">
      
      <%= render partial: 'score', collection: @scores %>
    </div>
    <%# <%= image_tag "yellow_chair.jpg" %> 
  </div>
  <%= paginate @scores %>
</main>
